.App {
  text-align: center;
}

.App-header {
  background-image: url('https://images.pexels.com/photos/172368/pexels-photo-172368.jpeg?cs=srgb&dl=bench-couple-daylight-172368.jpg&fm=jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: white;
}
