.login-container {
	position: absolute;
	width: 401px;
	height: 300px;
	top: 150px;
	left: 70px;
	background-color: white;
	color: black;
	border-radius: 4px;
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
	padding: 25px;
	text-align: left;
}
